footer{
    color: #fff;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
    background: rgba(65, 75, 86, 1);
    border: 1px solid rgba(121, 121, 121, 1);
    z-index: 999;
  }
  