.product-multi {
    margin-right: 420px;
}
.promo-selection-card {
    margin: auto;
    width: 50%;
}
.promotion-wraper .p-fields {
    padding: 10px 0px;
}
.fourth-row {
    padding: 0px 2px;
}
.promotion-wraper label {
    padding: 5px;
}